nav{
    display: inline-flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 10px 10px;


    background-color: #cfcfcf;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);


    .hooks-container{
        display:flex;
        width: fit-content;
        
        span{
            padding: 0 10px;
            cursor: pointer;
        }
    }
}