nav{
    display: inline-flex;
    position:fixed;
    z-index: 2;
    column-gap: 20px;
    width: 100%;
    padding: 10px 10px;
    height: 50px;

    background-color: #cfcfcf;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

    span{
        white-space: nowrap;
        flex-grow: 1;
    }

    .hooks-container{
        display:flex;
        overflow-x:hidden;

        span{
            padding: 0 10px;
            cursor: pointer;
        }
    }
}